<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="favicon.ico" rel="shortcut icon"/>
  <title>golang端口扫描工具</title>
  <link rel="stylesheet" href="./bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
        crossorigin="anonymous">
  <script src="./vue@2.js"></script>
  <script src="./axios.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12" id="app">
      <h2>
        端口扫描工具
        <mark>{{httpStatus}}</mark>
      </h2>

      <form>
        <div class="form-group has-success has-feedback">
          <div class="input-group">
            <span class="input-group-addon">IP</span>
            <input type="text" v-model="ip" name="ip" class="form-control">
          </div>
          <p class="text-muted">例子：ip范围 192.168.0.1-255</p>
        </div>
        <div class="form-group has-success has-feedback">
          <div class="input-group">
            <span class="input-group-addon">端口</span>
            <input type="text" v-model="port" name="port" class="form-control">
          </div>
          <p class="text-muted">例子：端口范围 80,3306,1000-9000 <p>

        </div>

        <div>
          <p class="bg-info" style="padding: 5px;">运行状态：{{message}}</p>
        </div>
        <div class="form-group">
          <textarea ref="run" class="form-control" rows="10" style="background-color: black;color:#ffcc00;padding: 10px;">{{runText}}</textarea>
        </div>

        <button type="button" class="btn btn-success" v-on:click="down('abc', $event)">执行</button>

      </form>
    </div>
  </div>
</div>
</body>

<script>
  // location.href = location.href + "?name=zs"
  new Vue({
    el: '#app',
    data: {
      httpPort: 25252,
      osInfo: "",
      httpServer: "127.0.0.1",
      message: '等待中',
      httpStatus: '',
      runText: '',
      timeout: 1000,
      debug: '',
      ip: "127.0.0.1",
      port: "21,22,23,25,53,80,110,443,3000-4000",
    },
    methods: {
      getPort: function () {
        return "8000"
      },
      down: function (str, e) {
        console.log(str,this.httpServer)
        //先建立一个webscoket
        this.webSocketTest();
        const _this = this
        const server_url = "http://" + this.httpServer + ":"+ this.getPort() + "/tcp"
        console.log(server_url)
        axios({
          headers: {
            'Content-Type': 'application/json; charset=UTF-8',
          },
          method: 'post',
          url: server_url,
          data: {
            ip: this.ip,
            port: this.port,
            Timeout: this.timeout
          }
        }).then(function (response) {
          console.log(response)
          _this.httpStatus = response.data.Message;
        });
      },
      webSocketTest: function () {
        const _this = this
        let ws = new WebSocket("ws://" + this.httpServer + ":" + this.getPort() + "/ws");
        ws.onopen = function () {
          console.log("建立连接")
          _this.message = "建立连接"
          ws.send("-------建立连接--------")
        };
        ws.onmessage = function (evt) {
          console.log("=============")
          console.log(evt.data)
          _this.runText += evt.data + "\n"
          let r = _this.$refs.run
          r.scroll(0, r.scrollHeight)
        };
        ws.onclose = function () {
          _this.message = "连接关闭"
        };
      }
    }
  });
</script>

</html>
